Makefile
Makefile.in
configure
install-sh
missing
compile
aclocal.m4
config.log
config.status
config.guess
config.sub
depcomp
autom4te.cache
.dirstamp
.deps
*.o
ipx_configure
ipx_interface
ipx_internal_net
ipx_route
